#features {
  background-color: $light-gray;
  .items-list {
    @include display-flex();
    @include flex(1 1 45%);
    @include flex-wrap(wrap);
    padding-top: 40px;
    .items {
      @include display-flex();
      @include flex(1 1 45%);
      @include flex-direction(column);
      margin-bottom: 40px;
      .title {
        color: $green;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 25px;
      }
      .detail {
        @include display-flex();
        .desccription {
          line-height: 32px;
          font-size: 16px;
          color: black;
          padding-left: 30px;
          padding-right: 30px;
          @include display-flex();
          @include flex-direction(column);
          @include justify-content(center);
        }
      }
    }
  }
}

// Mobile
@media screen and (min-width: 320px) and (max-width: 767px) {
  #features {
    .container {
      background-color: $light-gray;
      max-width: 90vw;
      .items-list {
        .items {
          @include flex(1 1 100%);
          .title {
            line-height: 40px;
          }
          .detail {
            .images {
              @include flex(1 1 40%);
              img {
                width: 100%;
                height: auto;
              }
            }
            .desccription {
              @include flex(1 1 60%);
              padding-right: 0;
            }
          }
        }
      }
    }
  }
}