#main-footer {
  padding-top: 3%;
  width: 100%;
  background: url("../img/footer-bg-top.png") repeat-x center top;
  @include background-size(100%);
  .footer-content {
    padding: 65px 0 0;
    background-color: $light-green;
    ul {
      @include display-flex();
      @include justify-content(space-between);
      li {
        padding: 3px 0;
        &:last-child {
          a {
            border-right: none;
          }
        }
        a {
          padding: 0 20px;
          color: $green;
          font-size: 14px;
          border-right: 1px solid $green;
          text-align: center;
          text-decoration: none;
        }
      }
    }
    .footer-logo {
      padding: 45px 0 30px;
      text-align: center;
      img {
        height: 100px;
        width: auto;
      }
    }
  }
  .copyright {
    background-color: $green;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
  }
}

//Mobile
@media screen and (min-width: 320px) and (max-width: 767px) {
  #main-footer {
    .footer-content {
      padding: 0;
      .container {
        width: 90%;
      }
      ul {
        display: none;
      }
    }
    .copyright {
      .container {
        width: 90%;
        span {
          line-height: 20px;
        }
      }
    }
  }
}

//iPad
@media screen and (min-width: 768px) and (max-width: 1280px) {
  #main-footer {
    .footer-content {
      padding: 0;
      .container {
        width: 90%;
      }
      ul {
        display: none;
      }
    }
    .copyright {
      .container {
        width: 90%;
        span {
          line-height: 20px;
        }
      }
    }
  }
}