#highlight {
  .headline-img-tree {
    height: 0;
    position: relative;
    img {
      position: absolute;
      right: 0;
      top: -80px;
      width: 20%;
    }
  }
  .headline-img-top {
    display: block;
    height: 88px;
    width: auto;
    background-image: url("../img/bg_dentistry.png");
    background-repeat: no-repeat;
    background-position: 50% 0;
    z-index: 2;
    position: relative;
  }
  .headline-nurse {
    height: 0;
    position: relative;
    img {
      position: absolute;
      bottom: 2px;
      left: 160px;
      z-index: 3;
    }
  }
  .container-fluid {
    background-color: $light-gray;
  }
  .headline {
    position: relative;
    display: block;
    color: $black;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    line-height: 110px;
    .nurse {
      position: absolute;
      left: 162px;
      bottom: 0;
      z-index: 3;
    }
    .shape {
      position: absolute;
      left: 50%;
      @include translateX(-50%);
      top: -30px;
      z-index: 3;
    }
  }
  .divider {
    background-color: rgba(0, 0, 0, .1);
    display: block;
    height: 1px;
    width: 1140px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

//Mobile
@media screen and (min-width: 320px) and (max-width: 767px) {
  #highlight {
    position: relative;
    .divider {
      width: 100vw;
    }
    .headline-nurse {
      display: none;
    }
    .headline-img-tree {
      img {
        width: 20%;
        position: absolute;
        top: -30px;
      }
    }
    .headline {
      font-size: 24px;
      line-height: 60px;
      .shape {
        position: absolute;
        top: -40px;
      }
    }
  }
}

//iPad
@media screen and (min-width: 320px) and (max-width: 1280px) {
  #highlight {
    .headline-img-tree {
      img {
        width: 20%;
        position: absolute;
        top: -30px;
      }
    }
    .headline-nurse {
      img {
        position: absolute;
        left: 30px;
      }
    }
  }
}