#menu {
  margin-top: 30px;
  .topbar {
    @include display-flex();
    position: relative;
    .logo-zone {
      @include display-flex();
      @include justify-content(center);
      height: 100px;
      width: 100%;
      img {
        width: auto;
        height: 100%;
      }
    }
    .contact-box {
      position: absolute;
      right: 0;
      top: 50%;
      @include translateY(-50%);
      p {
        color: $dark-gray;
        font-size: 12px;
      }
      .cta {
        margin-top: 10px;
        @include display-flex();
        @include justify-content(space-between);
        .phone-md {
          img {
            position: relative;
            top: 5px;
          }
          span {
            color: $black;
            font-size: 18px;
          }
        }
      }
    }
  }
  .navbar {
    margin-top: 10px;
    .nav-md {
      ul {
        @include display-flex();
        @include justify-content(space-between);
        li {
          padding: 10px;
          width: 14%;
          @include transition(ease, .3s);
          &:hover {
            cursor: pointer;
            background-color: $green;
            @include border-radius(5px);
            @include transition(ease, .3s);
            a {
              p {
                color: white;
                @include transition(ease, .3s);
              }
            }
          }
          a {
            text-align: center;
            text-decoration: none;
            .nav-icon {
              @include display-flex();
              @include justify-content(center);
              height: 68px;
            }
            p {
              font-size: 12px;
              line-height: 20px;
              font-weight: bold;
              color: $black;
            }
          }
        }
      }
    }
    .nav-sm-xs {
      display: none;
    }
  }
  // Menu icon, static & hovered
  .menu-items {
    &-1 {
      .nav-icon {
        background-image: url("../img/icon/bulb.png");
        background-repeat: no-repeat;
        background-position: 50% 0;
      }
      &:hover {
        .nav-icon {
          background-image: url("../img/icon/bulb-white.png");
        }
      }
    }
    &-2 {
      .nav-icon {
        background-image: url("../img/icon/cherry.png");
        background-repeat: no-repeat;
        background-position: 50% 0;
      }
      &:hover {
        .nav-icon {
          background-image: url("../img/icon/cherry-white.png");
        }
      }
    }
    &-3 {
      .nav-icon {
        background-image: url("../img/icon/landscape.png");
        background-repeat: no-repeat;
        background-position: 50% 0;
      }
      &:hover {
        .nav-icon {
          background-image: url("../img/icon/landscape-white.png");
        }
      }
    }
    &-4 {
      .nav-icon {
        background-image: url("../img/icon/doctor-tool.png");
        background-repeat: no-repeat;
        background-position: 50% 0;
      }
      &:hover {
        .nav-icon {
          background-image: url("../img/icon/doctor-tool-white.png");
        }
      }
    }
    &-5 {
      .nav-icon {
        background-image: url("../img/icon/checklist.png");
        background-repeat: no-repeat;
        background-position: 50% 0;
      }
      &:hover {
        .nav-icon {
          background-image: url("../img/icon/checklist-white.png");
        }
      }
    }
    &-6 {
      .nav-icon {
        background-image: url("../img/icon/map.png");
        background-repeat: no-repeat;
        background-position: 50% 0;
      }
      &:hover {
        .nav-icon {
          background-image: url("../img/icon/map-white.png");
        }
      }
    }
    &-7 {
      .nav-icon {
        background-image: url("../img/icon/teeth.png");
        background-repeat: no-repeat;
        background-position: 50% 0;
      }
      &:hover {
        .nav-icon {
          background-image: url("../img/icon/teeth-white.png");
        }
      }
    }
  }
}

//Mobile
@media screen and (min-width: 320px) and (max-width: 767px) {
  #menu {
    margin-top: 0;
    .topbar {
      .logo-zone {
        @include justify-content(left);
        margin-top: 10px;
        img {
          height: 50%;
          padding-left: 10px;
        }
      }
      .contact-box {
        display: none;
      }
    }
    .navbar {
      .nav-md {
        display: none;
      }
      .nav-sm-xs {
        display: block;
        .button-row {
          @include display-flex();
          @include box-shadow(0 0 20px rgba(0, 0, 0, .2));
          height: 50px;
          position: fixed;
          top: 0;
          right: 0;
          z-index: 5;
          .phone, .btn-clicker-xs {
            padding: 10px 5px;
            background-color: white;
            border: 1px solid rgba(0, 0, 0, .2);
            @include display-flex();
            @include justify-content(center);
            img {
              max-width: 100%;
              max-height: 100%;
            }
          }
          .btn-clicker-xs {
            background-color: $yellow;
            border: transparent;
          }
          #mobile-menu-btn {
            background-color: $green;
            border: transparent;
            width: 50px;
            height: 50px;
            position: relative;
            span {
              width: 50%;
              left: 25%;
              background-color: white;
              position: absolute;
              display: block;
              height: 3px;
              @include border-radius(5px);
              &:nth-child(1) {
                top: 15px;
                @include transition(ease, .3s);
              }
              &:nth-child(2) {
                top: 23px;
                @include scale(1);
                @include transition(ease, .3s);
              }
              &:nth-child(3) {
                bottom: 16px;
                @include transition(ease, .3s);
              }
            }
          }
          .clicked {
            span {
              &:nth-child(2) {
                display: none !important;
                @include transition(ease, .3s);
              }
              &:nth-child(1) {
                @include rotate(45deg);
                top: 23px !important;
                @include transition(ease, .3s);
              }
              &:nth-child(3) {
                @include rotate(-45deg);
                bottom: 24px !important;
                @include transition(ease, .3s);
              }
            }
          }
        }
        .mobile-menu-list {
          border-top: 1px solid $border-color;
          border-bottom: 1px solid $border-color;
          @include box-shadow(0 0 20px $border-color);
          background-color: white;
          width: 100vw;
          position: fixed;
          top: 50px;
          left: 0;
          z-index: 5;
          display: none;
          ul {
            @include display-flex();
            @include flex-wrap(wrap);
            li {
              width: 50%;
              border: 1px solid rgba(0, 0, 0, .1);
              @include box-sizing(border-box);
              padding: 10px;
              a {
                text-align: center;
                text-decoration: none;
                color: $black;
                .nav-icon {
                  @include display-flex();
                  @include justify-content(center);
                  height: 60px;
                  margin-bottom: 10px;
                }
                p {
                  font-size: 12px;
                  line-height: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

//iPad
@media screen and (min-width: 768px) and (max-width: 1280px) {
  #menu {
    .topbar {
      .logo-zone {
        @include justify-content(left);
        img {
          height: 80%;
          padding-left: 10px;
          padding-top: 10px;
        }
      }
    }
  }
}