#more-info {
  margin-top: 80px;
  margin-bottom: 80px;
  .container {
    @include display-flex();
    @include flex(1 1 45%);
  }
  .quick-content {
    @include flex(1 1 45%);
    margin-right: 30px;
    .title {
      border-bottom: 1px solid $black;
      padding: 10px 0;
      @include display-flex();
      @include justify-content(space-between);
      .main-title {
        @include display-flex();
        height: 32px;
        line-height: 32px;
        img {
          display: block;
          position: relative;
          top: 50%;
          margin-right: 10px;
          @include translateY(-50%);
        }
        a {
          text-decoration: none;
          color: $black;
          font-size: 24px;
          line-height: 32px;
        }
      }
      .link {
        @include display-flex();
        height: 32px;
        line-height: 32px;
        img {
          margin-right: 10px;
          width: 20px;
          height: 20px;
          position: relative;
          top: 50%;
          @include translateY(-50%);
        }
        a {
          text-decoration: none;
          color: $green;
        }
      }
    }
    .quicklink {
      ul {
        .items {
          line-height: 48px;
          border-bottom: 1px dashed rgba(0, 0, 0, .2);
          &:last-child {
            border-bottom: none;
          }
          time {
            margin-right: 60px;
          }
          a {
            text-decoration: none;
            color: $green;
            font-size: 14px;
          }
        }
      }
    }
  }
}

//Mobile
@media screen and (min-width: 320px) and (max-width: 767px) {
  #more-info {
    margin-top: 40px;
    margin-bottom: 40px;
    .container {
      @include display-flex();
      @include flex-direction(column);
      max-width: 90vw;
      .quick-content {
        margin-right: 0;
        .quicklink {
          .items {
            @include display-flex();
            @include flex-direction(column);
            line-height: 32px;
            padding-top: 10px;
            padding-bottom: 10px;
            time {
              margin-right: 20px;
            }
          }
        }
      }
      .banner {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
//iPad
@media screen and (min-width: 768px) and (max-width: 1280px){
  .quick-content, .banner {
    width: 50%;
  }
  .banner {
    img {
      width: 100%;
    }
  }
  .quick-content {
    .quicklink {
      ul {
        .items {
          time {
            margin-right: 20px !important;
          }
        }
      }
    }
  }
}