#more-info-2 {
  margin-top: 80px;
  margin-bottom: 80px;
  .container {
    @include display-flex();
    @include justify-content(space-between);
    .contact-us {
      .title {
        margin-bottom: 15px;
      }
      p {
        line-height: 30px;
        &:first-child {
          margin-top: 10px;
        }
      }
      .phone {
        @include display-flex();
        span {
          margin-right: 15px;
          font-size: 18px;
          img {
            margin-right: 10px;
          }
        }
      }
    }
    .schedule {
      .title {
        margin-top: 20px;
        margin-bottom: 20px;
        @include display-flex();
        height: 33px;
        line-height: 33px;
        img {
          position: relative;
          display: block;
          margin-right: 10px;
          top: 50%;
          @include translateY (-50%);
        }
        a {
          font-size: 24px;
          line-height: 33px;
          text-decoration: none;
          color: $black;
        }
      }
    }
  }
}

//Mobile
@media screen and (min-width: 320px) and (max-width: 767px) {
  #more-info-2 {
    margin-top: 40px;
    margin-bottom: 40px;
    .container {
      @include display-flex();
      @include flex-direction(column);
      max-width: 90vw;
      .schedule {
        margin-top: 40px;
        max-width: 90vw;
        .title {
          img {
            width: auto;
          }
        }
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

//iPad
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .contact-us, .schedule {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .schedule {
    .schedule-img {
      width: 100%;
    }
  }
}