.container {
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  display: block;
  width: 100%;
}

.btn-clicker {
  display: block;
  line-height: 35px;
  background-color: $yellow;
  color: white;
  width: 140px;
  height: 35px;
  text-align: center;
  padding-left: 20px;
  text-decoration: none;
  @include border-radius(10px);
  background-image: url(../img/icon/mouse-click.png);
  background-repeat: no-repeat;
  background-position: 25px 50%;
  @include transition(ease, .3s);
  &:hover {
    background-color: $light-yellow;
    @include transition(ease, .3s);
  }
}

//Mobile
@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

//iPad
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .container {
    width: 750px;
    padding-left: 15px;
    padding-right: 15px;
  }
}