#slideshow {
  margin-bottom: -20px;
  img {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

//Mobile
@media screen and (min-width: 320px) and (max-width: 767px) {
  #slideshow {
    img {
      max-width: 100vw;
      height: auto;
    }
  }
}

//iPad
@media screen and (min-width: 768px) and (max-width: 1280px) {
  #slideshow {
    img {
      max-width: 90vw;
    }
  }
}