$green: #74a23e;
$light-green: #f3f9eb;
$yellow: #ffb400;
$light-yellow: #ffca4d;
$black: #746457;
$light-gray: #f6f8f1;
$dark-gray: #a5a789;
$bgcolor: #f5f8ef;
$border-color: rgba(0, 0, 0, .2);